@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Noto+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 16pt; /* ponto e pixels são unidades de medida fixas */
    line-height: 1.7em; /* /%, em, rem são unidades de medida relativas */
    color: #3d3d3d;
    font-family: 'Noto Sans', sans-serif;
}

img, video, iframe{
    max-width: 100%;    
}


h2 {
    text-align: center;    
}

header {
    text-align: center;
}

    header a {
        font-family: "Finger Paint", sans-serif;
        color: #cc0003;
        text-decoration: none;  /* tira o sublinhado do link */
        font-size: 1.2em;
        line-height: 1.7em;
    }

nav {
    /* 
        cor em hexadecimal - 3 ou 6 caracteres com números de 0-9 e letras a-f

        rgb(0, 255, 0); - Declaração do modo de cores - a quantidade de cor em cada um dos 3 canais, delimitada por um valor que vai de 0 a 255.

        rgba(0, 0, 0, 0.5) - acrescenta um canal ao rgb, a transparência e pode ter valor de 0 a 1
    */

    background-color: #cc0003;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        transition: all 0.3s;
    }

    nav a:hover {
        color:rgb(221, 92, 92);
        font-weight: bold;  
    }

    nav a:active {
        color:rgb(221, 92, 92);
        font-weight: bold;  
    }


.destaque { 
    margin-bottom: 30px;
}


.col1, .col2, .col3 {
    margin-bottom: 80px;
}

footer {
    background-color: #af0002;
    color:#fff;
    text-align: center;
    height: 40px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
}

.galeria img {
    width: 100%;
}

.mapa{
    width: 100%;
    align-items: center;
    padding-left: 25px;
}


@media screen and (min-width: 700px) {
   
    .colunas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    

    .col1, .col2 {
        width: 49.5%;
        margin-bottom: 40px;
    }

    .col3 {
        display: none;
    }

    .galeria img {
        width: 10%;
    }

      
} 

.mapa {
     padding: 0px;
    align-items: center;
}

.formulario {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    
}

.fundo-form {
    background: url(fundo-transparente.png) center;
    background-size: cover;
    padding: 50px 0;
}


@media screen and (min-width: 1020px) {

    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .col3 {
        display: block;
    }

    .col1, .col2, .col3 {
        width: 32.5%;
        margin-bottom: 20px;
    }

    .galeria img {
        width: 33.33333333333333333333333333333333%;
    }
}
